// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import url('/fonts/Felixti.TTF');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

           
           html, body {
                // background-color: #fff;
                // font-family: 'Helvetica', sans-serif;
                /* font-weight: 200; */
                height: 100vh;
                margin: 0;
                /* list-style-type:none; */
            }

            ol{
                list-style-type:none;
            }
            ul{
                list-style-type:none;
            }


            .parallax2 {
                // background-image: url(images/home.jpg);
                width: 100%;


                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .home-container{
                width: 100%;
                height: 100vh;
                background-color: rgba(255,255,255,0.7);
                text-align:center;
            }


            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
                font-weight: 100;
                
            }
            #title{
                font-family: 'Felixti';
            }

            .sub-title{
                font-size: 27px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .circle{
                width: 6em;
                height: 6em;
            }

            .circle-sm{
                width:2em;
                height:2em;
            }



.rounded-xl{
    border-radius: 2em;
}

.produk-1,.produk-2,.produk-3{
    height: 50vh;
}


.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.carousel-indicators li {
    width: 30px;
    height: 3px;
    text-indent: -999px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.text-disabled{
    color:#c1c1c1;
}


.footer{
    width:100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul.list-description{
    list-style-type: square;
}

.scroll {
    max-height: 100vh;
    overflow-y: auto;
}

.xs{
    font-size:.5em;
}

.chat-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-overflow{
    display: block;
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-overflow{
    display: block;
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-primary{
    background-color:#1b499c!important;
}

.popover{
    max-width:50em;
}

.neumorph{
    background-color: #E5E5E5;
	border: 1px solid rgba(240,240,240,0.2);
	border-radius: 5px;
	box-shadow: -.5em -.5em 2.2em 0 rgba(255,255,255,0.83), .5em .5em 1.5em 0 rgba(217,210,200,0.51);
}

.neumorph-nav{
    background-color: #284c9e;
	border: 1px solid rgba(43,81,168,0.2);
	// border-radius: 5px;
	box-shadow: -.5em -.5em 2.2em 0 rgba(36,68,142,0.83), .5em .5em 1.5em 0 rgba(23,52,121,0.51);
}